.bottom {
    display: flex;
    justify-content: space-between;

    &__button {
        &_left {
            margin-right: auto;
        }

        &_right {
            margin-left: 15px;
        }
    }
}

.buttonSave {
    margin-left: 15px;
}

.icon {
    &_right {
        margin-left: 5px;
    }
    &_left {
        margin-right: 5px;
    }
}
