.wrapper {
	max-width: 185px;
	margin: 0 auto 15px;
	width: 100%;
}

.input {
	font-weight: 700;
	font-size: 48px;
	line-height: 1em;
	color: #fff;
	min-width: 122px;
	min-height: 59px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
	padding: 5px 10px 4px;
	margin-bottom: 10px;
	background: #4b4f62;
	border: 1px solid #041a43;
	box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.6), inset 2px 2px 2px #000;
	border-radius: 10px;
}

.level {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
	height: 92px;
	margin-bottom: 35px;
	margin-top: -20px;
}

.icon {
	position: absolute;
	left: 0;
	top: 0;
}
