.start {
    position: relative;
    min-height: 750px;

    @media screen and (max-width: 1400px) {
        & {
            transform: scale(0.8);
            transform-origin: center top;
        }
    }

    &__wrapper {
        width: 1000px;
        margin: 0 auto;
        position: relative;
        border-top-left-radius: 70px 40px;
        border-top-right-radius: 70px 40px;
        border-bottom-left-radius: 70px 40px;
        border-bottom-right-radius: 70px 40px;
        border: 10px solid #ebbb31;
    }
    &__content {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        min-height: 750px;
        border-top-left-radius: 50px 30px;
        border-top-right-radius: 50px 30px;
        border-bottom-left-radius: 50px 30px;
        border-bottom-right-radius: 50px 30px;

        // style
        background: radial-gradient(
                rgb(255, 255, 255) 0%,
                rgba(145, 207, 223, 0.6) 100%
            ),
            url('/platform/apps/online/mentalArithmeticOnline/assets/img/courses/mentalArithmetic/games/countingExamples/bg.png');
    }
}
