.flask {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.1);
        transform-origin: center;
        transition: all 0.3s;
    }

    &__text {
        display: inline-flex;
        margin-top: 40px;
        color: white;
        font-size: 24px;
    }

    &[data-num='0'] {
        background-image: url(./images/flask_0.png);
    }

    &[data-num='1'] {
        background-image: url(./images/flask_1.png);
    }

    &[data-num='2'] {
        background-image: url(./images/flask_2.png);
    }

    &[data-num='3'] {
        background-image: url(./images/flask_3.png);
    }

    &[data-num='4'] {
        background-image: url(./images/flask_4.png);
    }

    &[data-num='5'] {
        background-image: url(./images/flask_5.png);
    }

    &[data-num='6'] {
        background-image: url(./images/flask_6.png);
    }

    &[data-num='7'] {
        background-image: url(./images/flask_7.png);
    }

    &[data-num='8'] {
        background-image: url(./images/flask_8.png);
    }
}
