#sm {
	.rc-slider-rail {
		position: absolute !important;
		width: 100% !important;
		background-color: #e9e9e9 !important;
		height: 2px !important;
		max-height: 4px !important;
		border-radius: 6px !important;
		background: rgb(144, 149, 175) !important;
		height: 10px !important;
		box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 3px inset !important;
	}

	.rc-slider-track {
		background: rgb(94, 114, 217) !important;
		height: 10px !important;
		box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 3px inset !important;
		// width: 0% !important;
		position: absolute !important;
		left: 0 !important;
		height: 4px !important;
		border-radius: 6px !important;
	}

	.rc-slider-handle {
		border: 3px solid rgb(94, 114, 217) !important;
		margin-top: -5px !important;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px !important;
		transform: translateX(-50%) !important;
		position: absolute !important;
		cursor: grab !important;
		border-radius: 50% !important;
		background-color: #fff !important;
		touch-action: pan-x !important;
		width: 8px !important;
		height: 8px !important;
	}
}
