.wrapper {
    display: flex;
    flex: 1 1 auto;
    padding-left: 369px;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 16px;
    background: #fff;
    box-shadow: 0 0px 10px rgba(46, 77, 95, 0.15);
    border-radius: 10px;
    background: #f6f7fb;
    border: 5px solid #fff;
    box-sizing: border-box;
    border-radius: 12px;
    z-index: 10;
}

.inner {
    flex: 1 0 auto;
}

.contentInner {
    padding: 20px 0;
    position: relative;
}

.title {
    font-size: 20px;
    line-height: 140%;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}

.secondTitle {
    font-size: 20px;
    line-height: 140%;
    color: #000;
    margin-bottom: 10px;
}

.imgWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__img {
        max-height: 500px;
        background: #fff;
        box-shadow: 0 10px 15px rgba(237, 240, 254, 0.8);
        border-radius: 10px;
    }
}
