.wrapper {
    width: 30%;
    min-width: 300px;
    height: 190px;
    // margin: 0 5px 20px;
    background: #ede5e2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;

    &_disabled {
        filter: grayscale(0.9);
        pointer-events: none;
    }
}

.title {
    background: linear-gradient(
        to bottom,
        rgb(255, 237, 199) 0%,
        rgb(235, 188, 49) 15%,
        rgb(235, 188, 49) 51%,
        rgb(219, 162, 19) 51%,
        rgb(251, 188, 21) 100%
    );
    font-size: 20px;
    border-radius: 30px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
    border: 3px solid #5d2816;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    color: #000;
    height: 40px !important;
}

.inner {
    padding: 0 30px 0;
    flex: 1 0 auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
        flex: 1 0 auto;
        max-width: 100%;
    }
}

// info

.wrapperInfo {
    flex: 0 0 50%;
    padding: 10px 10px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;

    &.fullRow {
        flex: 1 0 100%;
    }
}

.innerInfo {
    padding: 0 30px 0;
    flex: 1 0 auto;
    position: relative;
    display: flex;
    & > div {
        flex: 1 0 auto;
        max-width: 100%;
    }
}
