.calculatorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin-left: 300px;
}

.displayWrapper {
    padding-bottom: 600px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    width: 100%;
    display: block;
    min-height: 90px;
    font-size: 58px;
    text-align: center;
    margin: 50px 0;
    border: 3px solid #B8B5D6;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;

    &.correct {
        border-color: #4caf50;
        background-color: #e8f5e9;
        color: #4caf50;
    }

    &.incorrect {
        border-color: #f44336;
        background-color: #ffebee;
        color: #f44336;
    }
}

.numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.numpadBtn {
    width: 90px;
    height: 90px;
    font-size: 46px;
    color: #443778;
    border: 3px solid #B8B5D6;
    border-radius: 5px;
    background: linear-gradient(to bottom, #ffffff, rgb(237, 234, 255));
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.2s;

    &:hover {
        background-color: #eaeaea;
        box-shadow: 0px 4px 12px rgba(100, 91, 143, 0.9);
    }
}
.highlighted {
    background-color: #EBBB31 !important;
    color: #111 !important;
}

.checkButton {
    margin-top: 20px;
    width: 75%;
    padding: 18px 44px;
    font-size: 24px;
    font-weight: bold;
    background-color: #ccc;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}



.slotContainer {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    z-index: 1;
    width: 100%;
}

.slot {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;


    &:first-child {
        padding-bottom: 4px;
        border-bottom: 14px solid #f19919;;
        margin: 0 auto;
        width: 100%;
        border-radius: 5px;
    }
}

.woodenFrameWrapper {
    position: relative;
    background-color: white;
    width: 110px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.woodenFrameVertical {
    position: absolute;
    width: 12px;
    height: 100%;
    background: linear-gradient(to bottom, #f19919, #bb6d00);
    border-radius: 6px;
}

.woodenFrameHorizontal {
    position: absolute;
    height: 14px;
    width: 100%;
    background: #f19919;
    border-radius: 6px;
}

.woodenFrameWrapper:before,
.woodenFrameWrapper:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f19919;
    border-radius: 50%;
}

.woodenFrameWrapper:before {
    top: -10px;
    left: -10px;
}

.woodenFrameWrapper:after {
    bottom: -10px;
    right: -10px;
}

.centerDivider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 44%;
    width: 15px;
    background-color: #f19919;
    z-index: 0;
}
.woodenFrameHorizontal {
    position: absolute;
    height: 14px;
    width: 100%;
    background:  #f19919;
    border-radius: 4px;
}

.woodenFrameHorizontal.top {
    top: 0;
}

.woodenFrameHorizontal.bottom {
    bottom: 0;
}

.woodenFrameVertical {
    position: absolute;
    width: 14px;
    height: 100%;
    background: #f19919;
    border-radius: 4px;
}

.woodenFrameVertical.left {
    left: 0;
}

.woodenFrameVertical.right {
    right: 0;
}

.slotContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    z-index: 1;
}

.slot img {
    width: 64px;
    height: 38px;
}


.woodenFrameContainer {
    display: flex;
    flex-direction: row;
}

