.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    max-width: 185px;
    margin: 0 auto 15px;
    width: 100%;
}

.input {
    flex: 1 0 auto;
    justify-content: center;
    border: 3px solid #5d2816;
    display: inline-flex;
    padding: 0 10px;
    margin: 0 5px;
    align-items: center;
    border-radius: 10px;
    font-weight: bolder;
    color: #000;
    background-color: #fff;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

    &__time {
        font-size: 28px;
        padding: 0 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        font-weight: bolder;
        width: 140px;
        border-right: 1px solid #5d2816;
    }
}

.icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
}

.icon {
    display: flex;
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 15px solid #b25830;
    margin: 2px 0;

    &:hover {
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 15px solid #5d2816;
    }

    &.icon_disabled {
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 15px solid #b8b8b8;
    }
}

.icon_down {
    display: flex;
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 15px solid #b25830;
    margin: 2px 0;

    &:hover {
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 15px solid #5d2816;
    }

    &.icon_down_disabled {
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 15px solid #b8b8b8;
    }
}
