.error {
    padding: 20px;
    color: red;
    font-size: 20px;
    border-radius: 12px;
    background-color: white;
    position: fixed;
    right: 24px;
    bottom: 24px;
    border: 2px solid red;
}
