.controlSlider {
	// width: 150px;
	// position: relative;
	// display: flex;
	// gap: 2rem;
}

.value {
	// position: absolute;
	// top: -5;
	right: 1rem;
	margin-right: -2.5rem;
	// :10px ;
	text-align: end;
}
